@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf"),
        url("assets/fonts/Roboto-Light.ttf"),
        url("assets/fonts/Roboto-Bold.ttf");
}

header,
footer,
main,
section {
    border: 1px solid red;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.section .section-dark,
.header {
    background-color: #030303;
}

.container {
    margin: 0 auto;
}

.container2 {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 150px;
    margin: 0 auto;
}

.header-container .logo {
    width: 199px;
    height: 33px;
}

.header-container .logo span:first-child {
    background-image: url("assets/svg/Vector.svg");
    background-repeat: no-repeat;
}

.header-container span {
    padding: 0 25px;
    color: #fff;
    font-family: Forum, serif;
    font-weight: normal;
    font-size: 28px;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 775px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 22px;
}

.navigation li a:hover {
    color: #d1bea4;
}

.navigation li a:active {
    color: #7E6C51;
}

.section-dark {
    background-color: #030303;
}

.section-title {
    font-family: Forum;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
}

.section-dark .section-title {
    color: #fff;
}

.container .welcome-basic {
    position: relative;
    background-image: url("assets/img/1.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    height: 810px;
    width: 1440px;
}

.welcome-aside {
    position: absolute;
    width: 598px;
    height: 388px;
    left: 0px;
    top: 150px;
}

.welcome-aside p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    display: inline-block;
}

.welcome-aside a {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    width: 360px;
    height: 75px;
    background-color: #710707;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}

.welcome-aside a:hover {
    background-color: #9D8665;
}

.welcome-basic .pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 120px;
    background-color: #030303;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-basic .pagination div:first-child {
    width: 76px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-basic .pagination div:first-child span {
    color: #fff;
}

.carusel span:hover {
    background-color: #9D8665;
}

.carusel {
    width: 180px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.carusel span {
    width: 16px;
    height: 16px;
    background-color: #fff;
}

.carusel span:first-child {
    background-color: #7E6C51;
}

.pagination .arrows {
    width: 80px;
    height: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination .arrows .left {
    display: inline-block;
    background-repeat: no-repeat;
    width: 40px;
    height: 8px;
    background-image: url("assets/svg/â†.svg");
}

.pagination .arrows .right {
    display: inline-block;
    background-repeat: no-repeat;
    width: 40px;
    height: 8px;
    background-image: url("assets/svg/right.svg");
}

.virtual-tour {
    margin: 0 auto;
    max-width: 1440px;
}

.virtual-tour h2 {
    color: #9D8665;
    margin-top: 75px;
    margin-bottom: 25px;
    position: relative;
}

.virtual-tour h2::after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

.virtual-tour .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
    margin: 85px 0 75px;
}

.cards figure {
    margin: 0;
}

.cards figcaption {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;
    position: relative;
}

.cards figcaption::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 300px;
    height: 2px;
    background-color: #710707;
}

.cards h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 10px;
}

.cards p {
    font-family: Roboto;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 10px 0;
}

.picture-explore {
    margin: 75px auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture-explore figure {
    margin: 0;
    position: relative;
}

.picture-explore figure img {
    margin: 0;
}

.picture-explore figure img:last-child {
    position: absolute;
    right: 260px;
}

.text-explore {
    width: 660px;
    height: 281px;
}

.text-explore p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 25px;
}

.text-explore p>span {
    color: #caaa7d;
    ;
}

.text-explore p:first-child {
    position: relative;
}

.text-explore p:first-child::before {
    position: absolute;
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    background-color: #710707;
    top: -100px
}

.video-block {
    margin: 75px auto;
    max-width: 1440px;
}

.video-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0;
}

.video-top h2 {
    color: #9D8665;
}

.video-top p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 175%;
    width: 720px;
}

.video-block figure {
    margin: 0;
    position: relative;
    height: 650px;
}

.video-block figure img {
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
}

.videoplayer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #030303;
    min-height: 85px;
}

.videoplayer .progress {
    width: 929px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.videoplayer .volume-progr {
    width: 155px;
}

.progress {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #c4c4c4 40%, #c4c4c4 100%);
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.videoplayer .play {
    display: inline-block;
    width: 23px;
    height: 31px;
    background-image: url('assets/svg/play.svg');
}

.play:hover {
    cursor: pointer;
}

.videoplayer .volume {
    display: inline-block;
    width: 38px;
    height: 31px;
    background-image: url('assets/svg/volume.svg');
}

.videoplayer .square {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('assets/svg/Square.svg');
}

.video-slider {
    display: flex;
    justify-content: space-between;
    padding: 52px 0;
    position: relative;
}

.video-slider figure {
    height: fit-content;
}

.video-slider .item {
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    width: 200px;
    height: 12px;
    display: flex;
    justify-content: space-between;
}

.video-slider .item .items {
    border: 5px solid #999999;
    border-radius: 50%;
    width: 2px;
}

.video-slider .item .items:nth-child(2) {
    border: 5px solid #030303;
}

.video-slider .item span:first-child,
.video-slider .item span:last-child {
    line-height: 10px;
    font-size: 22px;
    color: #999999;
}

.art-gallery {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 75px;
}

.gallery-picture {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 24px;
    height: 2000px;
    margin-top: 75px;
    flex-wrap: wrap;
    align-content: space-between;
}

.tickets {
    position: relative;
    width: 1440px;
    margin: 75px auto;
}

.tickets h2 {
    color: #9D8665;
    position: relative;
    margin-bottom: 100px;
}

.tickets h2::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -25px;
    height: 3px;
    background-color: #710707;
}

.ticket-block {
    display: flex;
}

.tickets figure {
    margin: 0;
}

.tickets .ticket-shop {
    width: 720px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.ticket-shop h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: capitalize;
    padding-left: 60px;
}

.ticket-shop label {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    padding: 12px;
    padding-left: 60px;
}

.ticket-shop label:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.ticket-shop label input {
    margin-left: 0;
    margin-right: 23px;
}

.amount {
    width: 150px;
    position: relative;
}

.amount h4 {
    padding: 0;
    text-align: right;
}

.amount p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

.amount .number {
    text-align: center;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

.count {
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
}

.amount button {
    border: none;
    background-color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.amount button:hover {
    cursor: pointer;
}

.amount h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    margin: 50px 0;
}

.amount>button {
    position: absolute;
    right: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #000000;
    width: 175px;
    height: 50px;
    text-transform: capitalize;
    border-radius: 2px;
}

.amount>button:hover {
    cursor: pointer;
    background-color: #7E6C51;
    color: #000000;
    margin: 0;
}